body{
  background-color: #fff;
}
.profit_list .span_title_2{
  width: 49%;
  display: inline-block;
  text-align: center;
}
.profit_list .span_con_2{
  width: 49%;
  display: inline-block;
  text-align: center;
  color: #929091;
}

.profit_list .span_title_3{
  width: 32%;
  display: inline-block;
  text-align: center;
}
.profit_list .span_con_3{
  width: 32%;
  display: inline-block;
  text-align: center;
  color: #929091;
}


.profit_list .span_title_4{
  width: 24%;
  display: inline-block;
  text-align: center;
}
.profit_list .span_con_4{
  width: 24%;
  display: inline-block;
  text-align: center;
  color: #929091;
}

.oneLine_title{
  color: black;
  padding: 24px 0;
  border-bottom: 0.01px solid #cccccc;
  font-size: 24px;
  color: #957870;
}
.oneLine{
  color: black;
  padding: 26px 0;
  border-bottom: 0.01px solid #cccccc;
  font-size: 29px;
}
.page-end{
  width: 100%;
  display: block;
  text-align: center;
  color: #95796D;
  font-size: 30px;
}
