
.content-body {
  background-color: #fff;
  font-size: 28px;
}

.center {
  text-align: center;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}
p{
  font-size: 28px;
}
p.indent {
  text-indent: 40px;
}

.content {
  margin: 0 40px;
  background: #fff;
  padding: 0 10px;
}

h3 {
  padding: 20px 0;
  color: #FFAA01;
  font-size: 36px;
}

#AUTHORIZE_DATE {
  padding-bottom: 40px;
}
