doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    title 快速取现协议
    script(type='text/javascript').
      setAdaptive();
  body.ruifu-presentagreement
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 快速取现协议
    .content-body
      .agreement
        span.font1 《杭州科地瑞富基金销售有限公司快速取现用户服务协议》
      .introductionContent
        span.font3
          | 甲方：投资者
          br
          |       乙方：杭州科地瑞富基金销售有限公司
          br
          |       甲方自愿申请乙方快速取现业务，为明确双方的权利和义务，经双方友好协商，签订本协议。
      .introduction
        span.font2 第一条 定义
      .introductionContent
        span.font3
          | 快速取现服务（以下简称“快速取现”服务，又称“货币基金网上 T+0 赎回”服务）： 是指甲方通过乙方网上平台所购买的货币基金份额，如甲方急需资金，甲方向乙方申请货币基金份额赎回选择快速取现服务时，甲方同意由乙方先行垫付赎回资金，同时授权乙方将其等额货币基金份额快速过户至乙方基金账户，并支付相关费用。
      .introduction
        span.font2 第二条	甲乙双方权利与义务
      .introductionContent
        span.font3
          | 甲方通过乙方平台享受 “快速取现”服务，同意按下列规则办理：
          br
          |       （一）	甲方提交快速取现服务的时间：
          .font4
            | a)	投资者为个人用户，甲方提交快速取现服务的时间为每个自然日 7*24 小时。遇节假日等特殊情况，乙方有权调整该业务的申请时间。
            br
            |         b)	投资者为机构用户，甲方提交金鹰T+0和长城T+0的快速取现服务时间为每个工作日8:35-17:00。遇节假日等特殊情况，乙方有权调整该业务的申请时间。
          |       （二） 撤单：投资人申请快速取现业务成功后，视为对应赎回交易申请已经提交，因 该业务的特殊性，投资人快速取现不允许撤单。
          br
          |       （三） 投资者为个人用户，快速取现限额说明：
          .font4
            | a)
            span.crudefont 宝盈T+0
            | 快速取现限额：乙方出于风险管理的需要，对于甲方每工作日，即上一个工作 日 15:00（不含）之后至下一个工作日 15:00（含）之前，累计申请快速取现的 金额设定上限，上限金额为 200000 元；对于甲方每次快速取现的金额，设定 单次最高取现金额 50000 元，单次最低取现金额 100 元，乙方有权根据业务发展的需求，相应调整上述限额，甲方同意遵守乙方关于限额的调整。
            br
            |         b)
            span.crudefont 金鹰T+0
            | 快速取现限额：乙方出于风险管理的需要，对于甲方每工作日，即上一个工作 日 15:00（不含）之后至下一个工作日 15:00（含）之前，累计申请快速取现的金额设定上限（上限金额为 200000 元），累计申请快速取现的次数设定上限（上限次数为10次）；对于甲方每次快速取现的金额，设定 单次最高取现金额200000 元，单次最低取现金额 100 元，乙方有权根据业务发展的需求，相应调整上述限额，甲方同意遵守乙方关于限额的调整。
            br
            |         c)
            span.crudefont 长城T+0
            | 快速取现限额：乙方出于风险管理的需要，对于甲方每工作日，即上一个工作 日 15:00（不含）之后至下一个工作日 15:00（含）之前，累计申请快速取现的金额设定上限（上限金额为 2000000 元），累计申请快速取现的次数设定上限（上限次数为10次）；对于甲方每次快速取现的金额，设定 单次最高取现金额200000 元，单次最低取现金额 100 元，乙方有权根据业务发展的需求，相应调整上述限额，甲方同意遵守乙方关于限额的调整。
          | >
          |       （四） 投资者为机构用户，快速取现限额说明：
          .font4
            | a)
            span.crudefont 金鹰T+0
            | 快速取现限额：乙方出于风险管理的需要，对于甲方每工作日，即一个工作日 8:35（含）之后至17:00（含）之前，累计申请快速取现的金额设定上限（上限金额为 50000000 元），累计申请快速取现的次数设定上限（上限次数为5次）；对于甲方每次快速取现的金额，设定单次最高取现金额10000000 元，单次最低取现金额 100 元，乙方有权根据业务发展的需求，相应调整上述限额，甲方同意遵守乙方关于限额的调整。（机构用户暂不支持快速取现，等待基金公司通知）
            br
            |         b)
            span.crudefont 长城T+0
            | 快速取现限额：乙方出于风险管理的需要，对于甲方每工作日，即一个工作日的 8:35（含）之后至17:00（含）之前，累计申请快速取现的金额设定上限（上限金额为 10000000 元）；对于甲方每次快速取现的金额，设定单次最高取现金额10000000元，单次最低取现金额 100元，乙方有权根据业务发展的需求，相应调整上述限额，甲方同意遵守乙方关于限额的调整。
          |       （五） 快速取现申请日起损益分配：自快速取现之日（含当日）起，投资人不再享有 相应基金份额损益，该等额基金份额损益作为快速取现费用，归乙方所有。
          br
          |       （六） 快速取现的到账金额及未结转收益：甲方快速取现申请金额（实际赎回份额） ＝快速取现到账金额+手续费，甲方申请快速取现基金份额收益（截止日为快速 取现申请日前一自然日）以未付收益的形式记录在我司代销系统内，并以货币基金常规收益分配方式，同账户内剩余份额的收益一并于份额结转日计入甲方基金账户。
          br
          |       （七） 巨额赎回情况处理：若 T 日日终甲方快速取现对应的货币基金发生巨额赎回， 甲方仍然可以按照本协议约定选择快速取现业务并获得乙方垫付金额。鉴于甲 方快速取现相应货币基金份额已经快速过户至乙方，相应货币基金巨额赎回的 风险由乙方承担，甲方申请快速取现之日起（含当日）相应货币基金损益归乙方所有，并由乙方按照本协议、自身及基金公司的业务规则办理份额赎回工作。
          br
          |       （八） 手续费：乙方对于甲方申请“快速取现”服务，将按以下收费标准收取手续费： 乙方有权就快速取现服务收取服务费用，具体收费标准以交易页面展示为准， 乙方享有调整此收费标准的权利。
          br
          |       （九） 甲方快速取现后，如需全额取现，需在 2 个工作日后方可申请。
          br
          |       （十） 为保障投资者利益和快速取现业务开展，乙方设立备付金制度用于在投资者申 请快速取现时垫付赎回资金。若甲方申请快速取现时，乙方交易平台当日接受 快速取现累计金额超过备付金限额，甲方同意该笔快速取现金额可以延迟到账， 对此无需乙方承担责任。根据经营需要，在乙方交易平台当日接受快速取现累计金额超过备付金限额时，乙方亦有权暂停快速取现业务，投资者可以通过普通取现的方式赎回基金份额。
          br
          |       （十一） 甲方在使用本服务之前，应确保拥有足额、有效且处于可赎回状态的基金份额， 并且基金份额赎回成功之前不对该等份额设定质权等权利负担，否则因此给乙 方造成的损失，甲方应当承担赔偿责任。
          br
          |       （十二） 对于任何因为甲方之原因，包括但不限于如遇司法机关要求冻结、扣划等情形，导致实际赎回份额确认失败，甲方应承担乙方因此而导致的损失，乙方有权采取相应措施以保障自身权益。
          br
          |       （十三） 如甲方通过乙方渠道持有的基金份额发生被有权机关在基金管理人处要求冻结、划扣、转托管转出，或者其他有可能导致基金份额不能被确认赎回等情形，乙方有权从管理人处获知相关信息。
          br
          |       （十四） 若出现甲方未收到快速取现款项情况，乙方为甲方重新划款，或因网络故障、系统故障、计算差错等原因导致甲方重复或额外收到乙方划付快速取现款项的，乙方有权从甲方在乙方登记的银行账户中直接扣收多划付款项。
          br
          |       （十五） 如甲方在使用乙方提供的销售服务中对乙方负有到期债务（包括但不限于因向甲方重复出款、甲方重复赎回份额等导致的甲方不当得利或其他乙方对甲方享有债权的情形），在不影响甲方权益的情况下，经通知甲方后，乙方有权采取包括但不限于冻结甲方交易账户、从甲方银行账户扣款、按照市场价格赎回或过户甲方基金份额等方式来实现债权。
          br
          |       （十六） 为了保证公平交易，甲方承诺不得通过程序化或其他异常方式进行异常交易，若乙方有理由认为甲方有上述行为，乙方将采取包括但不限于冻结甲方交易账户、限制甲方交易、将甲方身份信息提交征信系统、相关政府机构等措施，由此带来的损失及风险由甲方自身承担，且甲方应承担由此给乙方或任何第三方造成的损失。
      .introduction
        span.font2 第三条 法律适用条款
      .introductionContent
        span.font3
          | （一） 本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文 规定的，可适用通行的行业惯例。
          br
          |       （二） 本协议未作约定的，以《杭州科地瑞富基金销售有限公司注册服务协议》及乙方其他业务规则为准。
          br
          |       （三） 如果本协议的部分规定与有关的法律法规或金融规章相抵触，双方应按有关的 法律法规或金融规章的规定履行自己的权利义务，协议的其他部分的效力不受 影响。
          br
          |       （四） 关于本协议的未尽事宜，双方同意按照乙方的有关规定和金融监管规章的规定 办理。
      .introduction
        span.font2 第四条 争议的解决
      .introductionContent
        span.font3
          | 本协议履行地为浙江省杭州市下城区，甲、乙双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向乙方所在地人民法院提起诉讼。
      .introduction
        span.font2 第五条	免责条款
      .introductionContent
        span.font3
          | （一） 如遇自然灾害等不可抗力事件，或其他不可预见的非常情况，或网络、通讯故 障发生，导致乙方无法履行协议的，乙方不承担任何责任。
          br
          |       （二） 如因甲方绑定的银行账户已销户或账户状态不正常（挂失、冻结）或者由于司 法或其他原因而进行了账户冻结、扣划或销户，导致乙方无法履行协议的，乙方不承担任何责任。
          br
          |       （三） 甲方申请快速取现，经乙方系统确认之后即自动生成支付指令向甲方账户划款， 可快速到账，若因银行或支付机构异常等非乙方原因发生迟延到账情况，乙方无需承担责任。
          br
          |       （四） 因甲方姓名中含有生僻字，导致快速取现失败或延迟划款的，乙方无需承担责任。
      .introduction
        span.font2 第六条	协议的生效
      .introductionContent
        span.font3
          | 本协议从甲方签署协议时生效,甲方于网页上对本协议的确认视同签署。
      .introduction
        span.font2 第七条	送达
      .introductionContent
        span.font3
          | 甲方同意，就任何关于投资、资金支付或收取、权利义务转让、签约、协议条款更新等内容的通知，任何关于人民法院诉讼文件、执行文件的送达，乙方可选择通过以下方式进行告知或送达：
          br
          |       （一）通过乙方公告、站内信等方式公示，自乙方公示内容发布之日起满 1 个工作日， 视为送达成功；
          br
          |       （二）通过甲方预留的电子邮件、手机短信方式传送，自送达内容由乙方邮箱系统或短信系统发出之时，视为送达成功；
          br
          |       （三）以常规的信件方式邮寄，自信件邮戳日期起满四个工作日视为送达。
          br
          |       若因甲方地址、名称等联系方式有误或有变更而未书面通知乙方，或信息系统传输故障 等原因导致甲方未收到该等通知的，乙方不承担责任。
      .introduction
        span.font2 第八条	其他
      .introductionContent
        span.font3
          | 乙方对本协议拥有修改权和最终解释权。
      .introductionBottom
        span.font3
          | 本协议更新于 2018 年 3月 7日
    script(type='text/javascript', src='/static/js/commonBody.js')
