doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 测试1
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    script(type='text/javascript', src='/static/lib/util.js')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript').
      setAdaptive();
  body
    input#password-input(type='number' placeholder='')
    input#password-input-1(type='number' placeholder='' autofocus)
    input#password-input-2(type='number' placeholder='')
    script(type='text/javascript').
