doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 姚伟
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    style(type='text/css').
      body {
        background-color: #999;
      }
      .block-item {
        margin: 10px 0;
      }
      .block-item a {
        display: block;
        padding: 15px 0;
        color: #fff;
        background-color: #555;
        text-align: center;
        text-decoration: none;
      }
  body
    .block-item
      a(href='/fund/softLicenseAndServiceAgreement') 注册协议
    .block-item
      a(href='/fund/login') 绑定手机登录
    .block-item
      a(href='/page/ruifu/ruifuList') 瑞富宝列表
