doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/login.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    title 绑定手机登录
    script(type='text/javascript').
      setAdaptive();
  body
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 绑定手机登录
    form.mui-input-group
      .mui-input-row
        label 手机号码
        input.mui-input-clear(type='text', placeholder='请输入用户名')
      .mui-input-row
        label 登录密码
        input(type='password', placeholder='请输入密码')
      .mui-input-row.message
        label 验证码
        input(type='password', placeholder='请输入短信验证码')
        .message_btn 获取
    .forget
      | 忘记密码?
    .btn
      | 注册并登录
    script(type='text/javascript', src='/static/js/commonBody.js')
