.mui-segmented-control{
  position: fixed;
  top: 90px;
  z-index: 1000;
}
.content-body{
  padding-top: 180px;
}
.mui-table-view{
  margin: 0;
  padding-left: 35px;
  a{
    &:last-child{
      .mui-table-view-cell{
        border: none;
      }
    }
  }
  .mui-table-view-cell{
    height: auto;
    border-bottom: 1px solid $grey-border-color;
    .title{
      margin-bottom: 35px;
      font-size: 32px;
      span{
        margin-left: 2em;
      }
    }
    .explain{
      p{
        font-size: 28px;
        line-height: 1.2;
      }

    }
    .status{
      position: absolute;
      top: 0;
      right: 35px;
      height: 100%;
      line-height: 188px;
      .content{
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
      p{
        text-align: right;
        font-size: 30px;
        line-height: 1.5;
        color: $main-text-color;
      }
    }
  }
}
