$yellow: rgb(255, 170, 0);
$brown: #96786e;
$main-color: $yellow;
$body-color: rgb(246,246,246);
$grey: #ccccd2;
$grey-border-color: rgb(204, 204, 204);
$red-text-color: rgb(245,50,60);
$green-text-color: rgb(60,180,120);
$grey-text-color: $grey;
$grey-text-color-dark: rgb(160,160,160);
$grey-background-color: rgb(220, 220, 220);
$brown-text-color: $brown;
$brown-text-color-light: rgb(186,174,174);
$main-text-color: rgb(100,100,100);

$card-height: 330px;
$card-width: 300px;
$card-img-height: 220px;

$sprite-2-width: 98px;
$sprite-2-height: 85px;

$sprite-3-width: 142px;
$sprite-3-height: 123px;

$img-color: #eee;

$main-font-weight: normal;
