.agreement {
  text-align: center;
  padding: 28px 0 0 0;
}
.introduction {
  text-align: left;
  padding: 35px 0 0 20px
}
.introductionContent {
  text-align: left;
  padding: 12px 20px 0 20px;
  line-height: 24px
}
.introductionBottom {
  text-align: right;
  padding: 12px 20px 0 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.font1 {
  color: #333333;
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 40px;
}
.font2 {
  color: #333333;
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 24px;
}
.font3 {
  color: #333333;
  font-family: 微软雅黑;
  font-size: 24px;
}
.font4 {
  color: #333333;
  font-family: 微软雅黑;
  font-size: 24px;
  padding-left: 40px;
}
.crudefont{
  font-weight: bold;
}
