.banner {
  position: relative;
  padding: 60px 0 90px 0;
  background-color: #fff;
  .mui-icon-checkmarkempty {
    display: block;
    position: relative;
    margin: 0 auto 25px auto;
    color: #fff;
    width: 125px;
    height: 125px;
    font-size: 125px;
    border-radius: 125px;
    background-color: rgb(0, 192, 255);
  }
  .title{
    font-size: 36px;
    text-align: center;
    color: rgb(0, 192, 255);
    margin-bottom: 30px;
  }
  .explain {
    color: $main-text-color;
    font-size: 30px;
    text-align: center;
  }
}

.mui-btn-warning{

  margin-top: 165px;
}
