doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 积分兑好礼
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    script(type='text/javascript').
      setAdaptive();
    style.
      * {
        padding: 0;
        margin: 0;
      }
  body(style='background-color: #F6F6F6')
    header#header.mui-bar.mui-bar-nav.white
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 积分兑好礼
    .content-body
      div(style='width: 100%;')
        img(src='/static/asset/积分兑好礼.jpg', alt='', style='width: 100%')
    script(type='text/javascript', src='/static/js/commonBody.js')
