.ABC {
  background-image: url("/static/asset/bankicon/ABC@2x.png");
}
.BOC {
  background-image: url("/static/asset/bankicon/BOC@2x.png");
}
.BOHAIB {
  background-image: url("/static/asset/bankicon/BOHAIB@2x.png");
}
.CCB {
  background-image: url("/static/asset/bankicon/CCB@2x.png");
}
.CEB {
  background-image: url("/static/asset/bankicon/CEB@2x.png");
}
.CIB {
  background-image: url("/static/asset/bankicon/CIB@2x.png");
}
.CITIC {
  background-image: url("/static/asset/bankicon/CITIC@2x.png");
}
.CMB {
  background-image: url("/static/asset/bankicon/CMB@2x.png");
}
.CMBC {
  background-image: url("/static/asset/bankicon/CMBC@2x.png");
}
.COMM {
  background-image: url("/static/asset/bankicon/COMM@2x.png");
}
.GDB {
  background-image: url("/static/asset/bankicon/GDB@2x.png");
}
.HXBANK {
  background-image: url("/static/asset/bankicon/HXBANK@2x.png");
}
.HZCB {
  background-image: url("/static/asset/bankicon/HZCB@2x.png");
}
.ICBC {
  background-image: url("/static/asset/bankicon/ICBC@2x.png");
}
.MS {
  background-image: url("/static/asset/bankicon/MS@2x.png");
}
.PSBC {
  background-image: url("/static/asset/bankicon/PSBC@2x.png");
}
.SHBANK {
  background-image: url("/static/asset/bankicon/SHBANK@2x.png");
}
.SPABANK {
  background-image: url("/static/asset/bankicon/SPABANK@2x.png");
}
.SPDB {
  background-image: url("/static/asset/bankicon/SPDB@2x.png");
}
.ZJNX {
  background-image: url("/static/asset/bankicon/ZJNX@2x.png");
}
.OFFLINE {
  background-image: url("/static/asset/OFFLINE@2x.png");
}
