.btn{
  width: 642px;
  height: 88px;
  background-color: #FFAA01;
  text-align: center;
  line-height: 88px;
  color:white;
  border-radius: 44px;
  margin: 110px auto;
  font-size:34px;
}

.title{
  color: #666666;
  font-size: 22px;
  margin: 20px 0 0 26px;
  background-color: #f6f6f6;
}
