.main{
  margin-top: 20px;
}
.zhxx{
  height: 100px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #DCDCDC;
  padding-left: 24px;
}

.zhxx div{
  font-size:32px;
  color: #997670;
  line-height: 100px;
}

span{
  width: 16px;
  height: 31px;
  background: url("/static/asset/icon.jpg");
  background-size: cover;
  float: right;
  position: absolute;
  right:26px;
  top: 30px;
}

.jymm{
  height: 100px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #DCDCDC;
  padding-left: 24px;
}

.jymm div{
  font-size:32px;
  color: #997670;
  line-height: 100px;
}

span{
  width: 16px;
  height: 31px;
  background: url("/static/asset/icon.jpg");
  background-size: cover;
  float: right;
  position: absolute;
  right:26px;
  top: 30px;
}
