doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    title 基金组合服务协议
    script(type='text/javascript').
      setAdaptive();

  body.combination-combinationProtocol
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 基金组合服务协议
    .content-body
      .agreement
        span.font1 杭州科地瑞富基金销售有限公司基金组合交易服务协议
      .introductionContent
        span.font3
          | 甲方:投资者
          br
          |       乙方:杭州科地瑞富基金销售有限公司（以下简称“科地瑞富”或“本公司”）
          br
          span(style='font-weight: bold')
            | 本协议是科地瑞富与投资者就基金组合交易服务所订立的有效合同。投资者通过点击确认或以其他方式选择接受本协议，即表示与科地瑞富达成协议并同意接受本协议的全部约定内容，以及与本协议有关的各项业务规则。投资者在接受本协议之前，请仔细阅读本协议的全部内容。投资者如果不同意本协议的任何内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作。
      .introduction
        span.font2 第1条  释义
      .introductionContent
        span.font3
          | 1.	基金电子交易服务系统：指科地瑞富的电子交易自助前台系统，本协议中简称“电子交易系统”。
          br
          |       2.	基金组合：指根据一定的投资策略或者投资目标，由若干只基金构成的资产组合，基金组合本身并非任何形式的产品或集合投资计划。
          br
          |       3.	成分基金：指基金组合所包含的基金。
          br
          |       4.	工作日：指上海证券交易所和深圳证券交易所的正常交易日。
          br
          |       5.	T日：指科地瑞富确认的投资者提交有效申请的工作日。
          br
          |       6.	组合购买：指通过电子交易系统对组合的成分基金的购买行为，交易金额将按基金组合中各成分基金预设的比例进行分配。
          br
          |       7.	组合赎回：指通过电子交易系统对已持有组合按比例取现行为，各成分基金的赎回份额等于当前持有各成分基金可用份额乘以取现比例。
          br
          |       8.	组合调仓：指通过电子交易系统对已持有组合资产向目标组合成分进行调整的行为，申请由投资人提出，电子交易系统自动生成基金指令并执行。
          br
          |       9.	《基金合同》：指基金公司提供的经监管机构审查同意的基金合同及其修订或补充。
          br
          |       10.	《招募说眀书》：指基金公司提供的经监管机构审核同意的基金招募说明书及其更新。
          br
          |       11.	业务规则：指科地瑞富及科地瑞富销售的各基金管理公司制定的开放式基金交易业务规则及其修改或补充。
      .introduction
        span.font2 第2条
      .introductionContent
        span.font3
          | 1.	投资者理解并同意，基金组合投资是指投资一系列的基金及其他理财产品，无论是否命名，基金组合本身并非任何形式的金融产品，或者集合投资计划。
      .introduction
        span.font2 第3条
      .introductionContent
        span.font3
          | 1.	投资者认（申）购基金组合，实质是认（申）购一系列的基金产品（即成分基金）；投资者进行组合调仓，实质是对组合中的各种基金进行认（申）购、赎回或转换，投资者作为基金份额持有人持有基金的权利、义务应适用基金合同、基金招募说明书等基金交易基本文件的相应规定。
      .introduction
        span.font2 第4条
      .introductionContent
        span.font3
          | 1.	投资者认（申）购基金组合、进行组合调仓或者其他组合投资，可能会因认（申）购、赎回或转换基金而产生费用，这些费用由销售机构或基金公司根据《基金合同》、《招募说明书》等法律文件的规定收取。
      .introduction
        span.font2 第5条
      .introductionContent
        span.font3
          | 1.	投资者因认（申）购基金组合，或者进行组合调仓或其他组合投资，认（申）购基金产品的，应该注意自己的风险承受能力与每一只成分基金的风险匹配情况。投资者理解并同意，已充分明白基金组合投资的风险，并愿意自行承担相应的风险。
      .introduction
        span.font2 第6条
      .introductionContent
        span.font3
          | 1.	投资者理解并同意，除非科地瑞富特别声明并明确标注，科地瑞富提供基金组合并非意味着推荐基金产品或基金组合；基金组合的调仓等操作也并非意味着科地瑞富建议其他投资者跟随操作。投资者跟随他人购买基金组合或者进行调仓操作的，应自行承担风险和责任。
      .introduction
        span.font2 第7条
      .introductionContent
        span.font3
          | 1.	投资者理解并同意，跟随他人购买组合、进行调仓或者其他组合投资操作的，会因跟随操作的时间差或滞后性，以及基金申购、赎回等操作基于未知价原则等原因，导致跟随投资业绩的差异甚至是反差，投资者应自行承担风险和责任。
      .introduction
        span.font2 第8条
      .introductionContent
        span.font3
          | 1.	科地瑞富电子交易系统对各种交易申请的受理并不代表该申请一定成功，而仅代表科地瑞富接收到该申请，申请的确认以基金注册登记机构或基金管理人的最终确认结果为准。因投资者账户余额不足、账户状态不正常、银行卡存在挂失、损坏、销卡等异常等原因或网络故障、系统故障等不可抗力导致交易申请失败的，科地瑞富不承担责任。
      .introduction
        span.font2 第9条  投资者不得有以下行为
      .introductionContent
        span.font3
          | 1.	违规进行基金或基金组合的宣传推介；
          br
          |       2.	诱导他人购买基金或跟随投资者创建基金组合、进行调仓或进行其他组合投资；
          br
          |       3.	在未具备相应资质或未经必要的许可备案的情况下，利用基金组合开展投资顾问活动；
          br
          |       4.	其他违反法律法规或本协议的行为。
      .introduction
        span.font2 第10条  协议的生效及变更
      .introductionContent
        span.font3
          | 1.	本协议从甲方签署协议时生效，甲方通过网络页面点击确认或以其他方式选择接受本协议视同签署。
          br
          |       2.	在不损害投资者利益的前提下，科地瑞富保留修改或增补本协议内容的权利。本协议的修改文本将公告于科地瑞富的网站、营业场所或以其他科地瑞富认为可行的方式通知。投资者在修改通知公布之日起十日内未向科地瑞富提出书面异议，视同已经认可。
          br
          |       3.	本协议书签署后，若有关法律法规和《基金合同》、《招募说明书》或其他科地瑞富和投资者应共同遵守的文件发生修订，本协议与之不相适应的内容及条款自行失效，但本协议其他内容和条款继续有效。
          br
          |       4.	本协议的部分条款无效不影响其他条款的效力。
      .introduction
        span.font2 第11条  咨询、投诉及争议的解决
      .introductionContent
        span.font3
          | 1.	投资者如需咨询科地瑞富，或者对科地瑞富的服务有任何投诉的，可通过以下方式与科地瑞富联系：
          br
          |       网址： www. cd121.com
          br
          |       电话：0571-86915761
          br
          |       传真：0571-85269200
          br
          |       2.	本协议履行过程中发生争议的，双方应协商解决。如果任何一方不愿协商解决或双方协商不成的，任何一方均有权将争议提交杭州仲裁委员会，依据该会届时有效的仲裁规则进行仲裁。仲裁裁决是终局性的，对双方均有约束力。仲裁期间，本协议不涉及争议的条款应继续履行。
      .introduction
        span.font2 附：杭州科地瑞富基金销售有限公司基金组合服务业务规则
      .introductionContent
        span.font3
          | 1.	组合交易相关业务本质上是各成分基金的交易指令的集合，其业务规则需优先满足基金交易的基础业务规则。
          br
          |       2.	组合交易相关业务在工作日14:59:59前提出的业务申请，会在当日受理。如在工作日15:00以后或非工作日提出申请，将会在下个工作日受理。
          br
          |       3.	参与款的支付时间以电子交易系统记录时间为准。
          br
          |       4.	T日提出的申请，将在下个工作日或下2个工作日（QDII基金）对各成分基金逐一确认。
          br
          |       5.	组合赎回申请在确认后将根据各成分基金赎回款到账规则逐笔入账。
          br
          |       6.	组合调仓申请的发起视为同意授权科地瑞富电子交易系统根据申请人已持有的资产情况向目标成分基金调整而生成的一系列调仓指令（基金赎回、基金申购、基金转换、设置基金分红方式等）并自动执行，这些指令从提出申请到确认完成根据不同的成分基金与指令类型需要若干个工作日。调仓申请受理并发起后无法撒销。
          br
          |       7.	由于基金申购、赎回等操作基于未知价原则，组合调仓即使指令全部执行成功也可能出现与目标组合成分比例有微小偏离的情况，电子交易系统会通过偏离率指标进行追踪，当偏离率指标处于电子交易系统认为的较小值内视为正常情况。科地瑞富有权确定并调整前述较小值。
          br
          |       8.	在组合调仓过程中，如果出现由于调仓指令执行失败或确认失败导致的资金留存情况时，科地瑞富将会对这些留存资金发起特定货币基金的申购，具体的货币基金由科地瑞富确定。
          br
          |       9.	投资者只能以基金组合为主体进行委托或撤销，不能对成分基金单独进行委托或撤销。投资者提出的委托申请在超过该申请所属工作或电子交易系统确认时间后将不能撤销。
          br
          |       10.	基金组合的类型，如进取型、平衡型、稳健型，并不代表组合成分基金的风险类型。
          br
          |       11.	组合交易账户下的各成分基金的红利分配方式为红利再投资，且不可更改，科地瑞富明确公布的基金除外。
          br
          |       12.	组合成分基金默认收费方式是前端收费，特殊指定的情况除外。
    script(type='text/javascript', src='/static/js/commonBody.js')
