.mui-table-view{
  &.transparent{
    background-color: transparent;
    .mui-table-view-cell{
      height: 60px;
      line-height: 60px;
      .mui-navigate-right{
        color: $main-text-color;
      }
    }
  }

  &.portfolio-list{
    a{
      .mui-table-view-cell{
        height: auto;
        border-bottom: 1px solid $grey-border-color;
      }
      &:last-child{
        .mui-table-view-cell{
          border-bottom: 0;
        }
      }
    }
    .mui-table-view-cell{
      padding: 25px 25px 25px 0;
      height: 190px;
      line-height: 1;
      .title{
        margin-bottom: 40px;
        font-size: 32px;
        color: $brown-text-color;
        .tag-yellow, .tag-blue{
          margin-left: 30px;
          font-size: 26px;
          padding: 2px 8px;
          border-radius: 6px;
        }
        .tag-yellow{
          border: 1px solid $yellow;
          color: $yellow;
        }
        .tag-blue{
          border: 1px solid rgb(160, 190, 244);
          color: rgb(160, 190, 244);
        }
      }
      .detail{
        position: relative;
        .sub-wrap{
          display: inline-block;
          width: 32%;
          text-align: right;
          &.left{
            text-align: left;
          }
          p{
            color: $brown-text-color;
            font-size: 28px;
          }
          .title{
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

.other{
  .warn-icon{
    margin-right: .5em;
  }
  font-size: 24px;
  margin-top: 15px;
  color: $main-text-color;
  background-color: #fff;
}

.novalue{
  background: url("/static/asset/novalue.jpg")no-repeat;
  width: 750px;
  height: 570px;
  -webkit-background-size: cover;
  background-size: cover;
}
body{
  padding-bottom: 150px;
}

.company-warn{
  margin:0 auto;
  position: absolute;
  bottom: 0;
  left: 31px;
}
