.sub-title{
  height: 75px;
  padding-left: 25px;
  line-height: 75px;
}
.content-wrap{
  margin: 0;
  background-color: #fff;
  min-height: 230px;
  padding: 25px;
  font-size: 30px;
  color: $brown-text-color;
}
.other{
  padding: 30px;
}

.mui-btn-warning{
  margin-top: 80px;
}

.warn-icon{
  vertical-align: middle;
  margin-right: .5em;
}
