doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    script(type='text/javascript', src='/static/lib/vue.min.js')
    script(type='text/javascript', src='/static/lib/jquery-3.1.0.min.js')
    title 基金公告
    script(type='text/javascript').
      setAdaptive();
  body.fund-fundNotice
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 基金公告
    .content-body
      #FUND_INFO_NOTICE
        .oneLine.clearfix(v-for='notice in notices')
          a(target='_blank', href='/page/fund/announcement?resId={{notice.iD}}&resType={{notice.resourceType}}')
            .publicDate
              | {{notice.publicDate}}
            .title
              | {{notice.title}}
        div(style='width: 100%')
          span.page-end
    script(type='text/javascript', src='/static/js/commonBody.js')
    script(type='text/javascript', src='/static/js/fundNotice.js')
