.agreement {
  text-align: center;
  padding: 56px 40px 0 40px;
}

.introduction {
  text-align: left;
  padding: 70px 0 0 40px
}

.introductionContent {
  text-align: left;
  padding: 24px 40px 0 40px;
  line-height: 48px
}

.font1 {
  color: #333333;
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 40px;
}

.font2 {
  color: #333333;
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 25px;
}

.font3 {
  color: #333333;
  font-family: 微软雅黑;
  font-size: 25px;
}
